body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.tip {
    width: 0px;
    height: 0px;
    position: absolute;
    background: transparent;
    border: 10px solid #ccc;
}

.tip-up {
    top: -25px; /* Same as body margin top + border */
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-top-color: transparent;
}

.tip-down {
    bottom: -25px;
    left: 10px;
    border-right-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.contributor_tip {
    top: 10px;
    left: -25px;
    border-top-color: transparent;
    border-left-color: transparent;
    border-bottom-color: transparent;
}

.tip-right {
    top: 10px;
    right: -25px;
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
}

.contributor_dialog .contributor_body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: #ffb200;
    border-radius: 1px;
    border: 2px solid brown;
}

.owner_dialog .owner_body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: pink;
    border-radius: 1px;
    border: 2px solid brown;
}

.mentor_dialog .mentor_body {
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: blue;
    border-radius: 1px;
    border: 2px solid brown;
}

.owner{
    color: white;
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: brown;
    border-radius: 1px;
    border: 2px solid brown;
}

.contributor{
    color: white;
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: purple;
    border-radius: 1px;
    border: 2px solid brown;
}

.mentor{
    color: black;
    position: relative;
    max-width: 300px;
    height: auto;
    margin: 20px 10px;
    padding: 5px;
    background-color: yellow;
    border-radius: 1px;
    border: 2px solid brown;
}


.contributor_body .contributor_message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: red;
}

.owner_body .owner_message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: blue;
}

.mentor_body .mentor_message {
    min-height: 30px;
    border-radius: 3px;
    font-family: Arial;
    font-size: 14px;
    line-height: 1.5;
    color: white;
}